BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true

  AfterClass: true
  AfterStruct: true
  AfterControlStatement: false
  AfterNamespace: false
  AfterEnum: false
  AfterUnion: false

SeparateDefinitionBlocks: Always

MaxEmptyLinesToKeep: 1
ColumnLimit: 80

AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All

PointerAlignment: Left
