cmake-build-*/
build/
out/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile

*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

*.dSYM/
*.prof
*.profraw

.idea/
.DS_Store

compile_commands.json
