build/
cmake-build-*/
out/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile
compile_commands.json

*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe

.vscode/
.idea/

.DS_Store

Testing/
coverage/
*.gcda
*.gcno
*.gcov
